<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

In [3]:
import numpy as np

In [15]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

In [26]:
temperatures_fahrenheit = [(c * 9/5) + 32 for c in temperatures_celsius]    # Failed Attempt
for count, ctemp in enumerate(temperatures_celsius):
    for count, ftemp in enumerate(temperatures_fahrenheit):
        print(f'{count}: {ctemp} C is {ftemp}')

0: 0 C is 32.0
1: 0 C is 41.0
2: 0 C is 50.0
3: 0 C is 59.0
4: 0 C is 68.0
5: 0 C is 77.0
6: 0 C is 86.0
7: 0 C is 95.0
8: 0 C is 104.0
9: 0 C is 113.0
10: 0 C is 122.0
0: 5 C is 32.0
1: 5 C is 41.0
2: 5 C is 50.0
3: 5 C is 59.0
4: 5 C is 68.0
5: 5 C is 77.0
6: 5 C is 86.0
7: 5 C is 95.0
8: 5 C is 104.0
9: 5 C is 113.0
10: 5 C is 122.0
0: 10 C is 32.0
1: 10 C is 41.0
2: 10 C is 50.0
3: 10 C is 59.0
4: 10 C is 68.0
5: 10 C is 77.0
6: 10 C is 86.0
7: 10 C is 95.0
8: 10 C is 104.0
9: 10 C is 113.0
10: 10 C is 122.0
0: 15 C is 32.0
1: 15 C is 41.0
2: 15 C is 50.0
3: 15 C is 59.0
4: 15 C is 68.0
5: 15 C is 77.0
6: 15 C is 86.0
7: 15 C is 95.0
8: 15 C is 104.0
9: 15 C is 113.0
10: 15 C is 122.0
0: 20 C is 32.0
1: 20 C is 41.0
2: 20 C is 50.0
3: 20 C is 59.0
4: 20 C is 68.0
5: 20 C is 77.0
6: 20 C is 86.0
7: 20 C is 95.0
8: 20 C is 104.0
9: 20 C is 113.0
10: 20 C is 122.0
0: 25 C is 32.0
1: 25 C is 41.0
2: 25 C is 50.0
3: 25 C is 59.0
4: 25 C is 68.0
5: 25 C is 77.0
6: 25 C is 86.0
7: 25 C is 95.0
8: 25 C is 104.0
9: 25 C is 113.0
10: 25 C is 122.0
0: 30 C is 32.0
1: 30 C is 41.0
2: 30 C is 50.0
3: 30 C is 59.0
4: 30 C is 68.0
5: 30 C is 77.0
6: 30 C is 86.0
7: 30 C is 95.0
8: 30 C is 104.0
9: 30 C is 113.0
10: 30 C is 122.0
0: 35 C is 32.0
1: 35 C is 41.0
2: 35 C is 50.0
3: 35 C is 59.0
4: 35 C is 68.0
5: 35 C is 77.0
6: 35 C is 86.0
7: 35 C is 95.0
8: 35 C is 104.0
9: 35 C is 113.0
10: 35 C is 122.0
0: 40 C is 32.0
1: 40 C is 41.0
2: 40 C is 50.0
3: 40 C is 59.0
4: 40 C is 68.0
5: 40 C is 77.0
6: 40 C is 86.0
7: 40 C is 95.0
8: 40 C is 104.0
9: 40 C is 113.0
10: 40 C is 122.0
0: 45 C is 32.0
1: 45 C is 41.0
2: 45 C is 50.0
3: 45 C is 59.0
4: 45 C is 68.0
5: 45 C is 77.0
6: 45 C is 86.0
7: 45 C is 95.0
8: 45 C is 104.0
9: 45 C is 113.0
10: 45 C is 122.0
0: 50 C is 32.0
1: 50 C is 41.0
2: 50 C is 50.0
3: 50 C is 59.0
4: 50 C is 68.0
5: 50 C is 77.0
6: 50 C is 86.0
7: 50 C is 95.0
8: 50 C is 104.0
9: 50 C is 113.0
10: 50 C is 122.0

In [ ]:
for i in range(len(temperatures_celsius)):  # Why tf is this not working
    temperatures_celsius = temperatures_fahrenheit[i]
    temperatures_fahrenheit = temperatures_celsius[i]
    print(f"{temperatures_celsius}, {temperatures_fahrenheit}")

TypeError: object of type 'float' has no len()

In [36]:
for i in range(len(temperatures_celsius)):  #Yay it worked
    c = temperatures_celsius[i]
    f = temperatures_fahrenheit[i]
    print(f"{c}, {f}")

0, 32.0
5, 41.0
10, 50.0
15, 59.0
20, 68.0
25, 77.0
30, 86.0
35, 95.0
40, 104.0
45, 113.0
50, 122.0

## 2. Exercise 2 (Multiplication Table)

In [37]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [41]:
for row in ['1', '2', '3']:
    for column in [1,2, 3]:
        value = {row}*{column}
        print(value, end='\t')
    print('\n')

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [46]:
for r in range(1, 6):               # rows
    print(f"{r} :", end=" ")        # row header
    for c in range(1, 6):           # columns
        print(f"{r*c:<4}", end="")  # left-aligned, width 4
    print()                         # new line after each row

1 : 1   2   3   4   5
2 : 2   4   6   8   10
3 : 3   6   9   12  15
4 : 4   8   12  16  20
5 : 5   10  15  20  25

## 3. Exercise 3 (Simulating a Coin Flip Experiment)

In [48]:
np.random.rand(10)

array([0.21773019, 0.85517452, 0.50303462, 0.83668449, 0.45671805,
       0.94189495, 0.51023951, 0.94006421, 0.77490522, 0.61688873])

In [ ]:
for i in range(1, 9):           #Failed Attempt
    x = np.random.rand(10)
    if x < 0.5:
        flip = "Heads"
    else:
        flip = "Tails"
    print(f"Experiment {i}: {flip}")

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [113]:
for i in range(1, 11):                          #Yay it worked
    values = np.random.rand(10)
    truefalsearray = np.array(values > 0.5)
    heads = sum(truefalsearray)
    print(f'Experiment {i}: No. of Heads = {heads}')

Experiment 1: No. of Heads = 5
Experiment 2: No. of Heads = 4
Experiment 3: No. of Heads = 3
Experiment 4: No. of Heads = 3
Experiment 5: No. of Heads = 4
Experiment 6: No. of Heads = 3
Experiment 7: No. of Heads = 1
Experiment 8: No. of Heads = 5
Experiment 9: No. of Heads = 5
Experiment 10: No. of Heads = 6

Complete!